Source: pysam
Maintainer: Andreas Heger <andreas.heger@gmail.com>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-dev, cython, zlib1g-dev, debhelper (>= 7)
Standards-Version: 3.7.2

Package: python-pysam
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, zlib1g-dev
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Description: pysam
 .
 .
 pysam
 *****
 .
 .
